@model ShopInternet.Models.Product

@{
    ViewData["Title"] = "Додати товар";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Додати новий товар</h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Image" class="form-label"></label>
            <input type="file" name="files" class="form-control" accept="image/*" />
        </div>
        <div class="mb-3">
            <label asp-for="CategoryId" class="form-label"></label>
            <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryId">
                <option disabled selected>-- Оберіть категорію --</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Створити</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-action="Index" class="btn btn-secondary border form-control">
                    Назад до списку
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

