@using Microsoft.Build.Construction
@model ShopInternet.Models.Product

@{
    ViewData["Title"] = "Редагувати товар";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="row border p-3 mt-4">
        <div class="col-12 col-lg-8">
            <div class="row pb-2">
                <h2 class="text-primary">Редагувати товар</h2>
                <hr />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Image" class="form-label"></label>
                <input type="file" name="imageFile" class="form-control" accept="image/*" />
            </div>
            <div class="mb-3">
                <label asp-for="DescriptionFile" class="form-label"></label>
                <input type="file" name="pdfFile" class="form-control" accept="application/pdf" />
                @if (!string.IsNullOrEmpty(Model.DescriptionFile))
                {
                    <div class="form-text">
                        Поточний файл:
                        <a href="@(ShopInternet.WC.PdfPath + Model.DescriptionFile)" target="_blank">переглянути PDF</a>
                    </div>
                }
            </div>
            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label"></label>
                <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Зберегти</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-action="Index" class="btn btn-secondary border form-control">
                        Назад до списку
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 pt-4">
            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <img src="@(ShopInternet.WC.ImagePath + Model.Image)" width="100%" style="border-radius:5px; border:1px solid #bbb" alt="Product Image" />
            }
            else
            {
                <img src="https://placehold.co/400x400/png?text=Немає+фото" width="100%" style="border-radius:5px; border:1px solid #bbb" alt="No Image" />
            }
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

