<div class="container text-center">
    <h1 class="text-info">Замовлення прийнято!</h1>
    
    <p>Ваше замовлення успішно оформлено. Наш менеджер зв'яжеться з вами найближчим часом.</p>
    <p>Номер замовлення <h4>@ViewData["Id"]</h4></p>
</div>