@model ShopInternet.Models.OrderHeader

@{
    ViewData["Title"] = "Редагувати замовлення";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid p-3">
    <form method="post" asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Редагувати замовлення №@Model.Id</h2>
                <hr />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="FullName" class="form-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ShippingAddress" class="form-label"></label>
                <input asp-for="ShippingAddress" class="form-control" />
                <span asp-validation-for="ShippingAddress" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Зберегти</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-action="Index" class="btn btn-secondary border form-control">
                        Назад до списку
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
