@{
    ViewData["Title"] = "Доступ заборонено";
}
<h2>Доступ заборонено</h2>

<div class="alert alert-danger mt-3">
    У вас немає прав для перегляду цієї сторінки.
</div>

<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">На головну</a>
